<% form_for @kind, :html => { :multipart => true } do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.error_message_on :name %>
  </p>
  <p>
    <%= form.label :image %>
    <%= form.file_field :image %>
    <%= form.error_message_on :image %>
  </p>
  <p>
    <%= form.submit action_label %>
  </p>
<% end %>