<%= error_messages_for :kind %>

<% form_for @kind, :html => { :multipart => true } do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :image %>
    <%= file_column_field 'kind', 'image' %>
  </p>
  <p>
    <%= form.submit action_label %>
  </p>
<% end %>