<h1>Listing Kinds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
  </tr>
<%- for kind in @kinds -%>
  <tr>
    <td><%=h kind.name %></td>
    <td><%= image_tag kind.image.url unless kind.image_file_name.nil? %></td>
    <td><%= link_to 'Edit', edit_kind_path(kind) %></td>
    <td><%= link_to 'Destroy', kind, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%- end -%>
</table>

<%= link_to 'New Kind', new_kind_path %>