<%= semantic_form_for [@puzzle, @competition, @shout ||= Shout.new], :remote => true do |form| %>
  <%= form.inputs do %>
    <%= form.input :content, :as => :text, :label => false, :input_html => { :rows => 4, :cols => 40 } %>
  <% end %>
  <div class="flag"></div>
  <%= form.buttons do %>
    <%= form.commit_button 'Shout!', :button_html => { :disable_with => "Shout!" } %>
  <% end %>
<% end %>