<%= semantic_form_for [@puzzle, @competition, @shout ||= Shout.new], :remote => true do |form| %>
  <%= form.inputs do %>
    <div class="top_left"><div class="top_right"><div class="bottom_left"><div class="bottom_right">
      <%= form.input :content, :input_html => { :rows => 4 } %>
    </div></div></div></div>
  <% end %>
  <%= form.buttons do %>
    <div class="flag">
      <%= form.commit_button 'Shout!' %>
    </div>
  <% end %>
<% end %>