<%= li_for comment do %>
  <cite>
    <%= render :partial => "users/identity", :locals => { :user => comment.user, :size => :small, :link => true } %>
  </cite>
  <small>
    <%=dt comment.created_at %>
    <%= link_to 'Destroy', [comment.commentable.sti_parent, comment], :confirm => 'Are you sure?', :method => :delete, :remote => true if can? :destroy, comment %>
  </small>
  <div class="text">
    <%=m comment.content %>
  </div>
<% end %>
