<%= li_for comment do %>
  <cite><%= comment.user.nil? ? 'Unknown' : link_to(comment.user.name, comment.user) %></cite>
  <small>
    <%=dt comment.created_at %>
    <%= link_to 'Destroy', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete if moderator? %>
  </small>
  <div class="text">
    <%=m comment.content %>
  </div>
<% end %>