<h1>Login</h1>

<%= semantic_form_for @login, :url => login_path do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :password %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button 'Login' %>
  <% end %>
<% end %>

<%= link_to 'Register', new_user_path %> &middot;
<%= link_to 'Forgot your password?', new_reset_password_path %>