<div class="announcement">
  Cubemania is free for everyone, yet we (Tim, <%= link_to 'Patrick', 'http://www.patrick-stadler.de' %> and
  <%= link_to 'Simon', 'http://www.simonwacker.com' %>) pay for a <strong>server to host this site</strong>.
  To help us out a little you may donate one or two bucks. Thanks!
  <form style="text-align: center" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick"/>
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"></img>
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHfwYJKoZIhvcNAQcEoIIHcDCCB2wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYATdwGZAqsL1+etNIjoSsQkOC2po+7mIashuQrTygUMYJ803sheMXMhAXBzTK6rdWehy9SeA0zn2gbGR5ZQS6X6bBohYa/+aa8+OIBKbQu62X4RN0C5dMsMNVSVkzrN2yyCQ+dQRPRb7/qPCH3n3a9iCDJzZEuzRcUmvqaeqyAWjjELMAkGBSsOAwIaBQAwgfwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQId5HoytKhc0CAgdgOcsd8XbZIx5GfstENc5npuSlA0/Hnz+o+ZpyUuPijD5ONholPgGK/xXjan4xdxgSA7IlFnu9IknVODzlppmT34Fcnzts7bW/lXYr7FkmDwQl0pLTqicnlWUf/acM1vv0T9BD/YKWDJ9EzOussCiqV+CP5GANYSjYqRrRNshKd/5MyANemRdwV0fVnjNLNZF3n7q8mAKiYhNjDdJixzF9/L1+h42kFFPF/8LmziIaSS7FgWQk0/SrPTJGso2LpMGtfd/NmSgOS6HwJ+7L0R75Oh9RORjcY40mgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0wODA1MTUxODUyMTFaMCMGCSqGSIb3DQEJBDEWBBQHcwM5BPAy74EKn35jZf2LfopDozANBgkqhkiG9w0BAQEFAASBgFSd7+gHoLz2gnBdRoim74G2DULyyM6McJQ8DIUZ/+F9TNFis24BMdJtQ3TP4vTpvpQ4hQlO4da9P1APpfbrGdfMg+qDd6bbciwBeCqh14jzBTuaUljHyUlcnBYNxb4dbzPTDXbwwUzJDpElujruikF2QTT7wCwx4595kAAw9ypg-----END PKCS7-----
"/>
  </form>
</div>

<h1>Login</h1>

<%= form_for @login, :as => :login, :url => login_path do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= form.error_message_on :password %>
  </p>
  <p>
    <%= form.submit 'Login' %> &middot;
    <%= link_to 'Register', new_user_path %> &middot;
    <%= link_to 'Forgot your password?', password_recovery_path %>
  </p>
<% end %>