<h1>Login</h1>

<%= error_messages_for :login %>

<% form_for @login, :url => login_path do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.submit 'Login' %>
    <%= link_to 'Register', new_user_path %>
  </p>
<% end %>