<%= semantic_form_for @competition, :url => compete_puzzle_competition_path(@puzzle, @competition), :method => :post do |form| %>
  <%= form.inputs do %>
    <% @scrambles.each_with_index do |scramble, n| %>
      <li>
        <label class="label" for="average_single_human_time_<%= n %>">Solve <%= n + 1 %><abbr title="required">*</abbr></label>
        <input id="average_single_human_time_<%= n %>" name="average[singles_attributes][][human_time]" step="any" type="text">
      </li>
      <li>
        <input id="average_single_penalty" name="average[singles_attributes][][penalty]" step="any" type="hidden">
      </li>
      <input id="average_single_scramble" name="average[singles_attributes][][scramble]" step="any" type="hidden" value="<%= scramble %>">
    <% end %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button "Submit Average" %>
  <% end %>
<% end %>