<%= semantic_form_for [@puzzle, @competition ||= @puzzle.competitions.build] do |form| %>
  <%= form.inputs do %>
    <li>
      <%= form.label "Puzzle" %>
      <%= "#{@puzzle.name.titleize} (#{@puzzle.kind.name.titleize})" %>
    </li>
    <%= form.input :name %>
    <%= form.input :description, :as => :text, :input_html => { :cols => 40, :rows => 5 } %>
    <%= form.input :repeat, :collection => Competition::REPEATS.collect { |r| [r.titleize, r] }, :include_blank => false, :input_html => { :selected => repeat } %>
    <%= form.input :skill, :collection => Competition::SKILLS.collect { |s| [s.titleize, s] }, :include_blank => false %>
    <% if admin? %>
      <%= form.input :sticky %>
    <% end %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button action_label %>
    <%= link_to 'Destroy', [@puzzle, @competition], :confirm => 'Are you sure?', :method => :delete if edit? %>
  <% end %>
<% end %>