<%= render "layouts/admin" if can? :edit, @competition %>

<%= render 'tabs' %>

<section id="competition">
  <div class="<%= @competition.repeat %>">
    <small><%= @competition.repeat.titleize %></small>
    <h2><%=h @competition.name %></h2>
    <div class="text description">
      <%=m @competition.description %>
    </div>
  </div>
  <% if @results.empty? %>
    <% if @competition.old?(@date) %>
      <p class="challenge">
        No one competed. :(
      </p>
    <% else %>
      <p class="challenge">
        Be the first to compete!
      </p>
    <% end %>
  <% else %>
    <table id="results">
      <%= render :partial => "result", :collection => @results %>
    </table>
  <% end %>
  <section id="shouts">
    <%= render :partial => "shouts/shouts" %>
    <%= render :partial => "shouts/form" %>
  </section>
</section>

<section id="average">
  <% unless @competition.old? @date %>
    <% if logged_in? %>
      <% if @competition.participated?(@date, current_user) %>
        <p class="suggestion">
          <% if current_user.ignored? %>
            Get out of here!
          <% else %>
            See your ranking on the left.
          <% end %>
        </p>
      <% else %>
        <%= render "compete_form" %>
      <% end %>
    <% else %>
      <p class="suggestion">
        Please <%= link_to 'login', login_path(:return_to => request.path) %> or
        <%= link_to 'register', register_path(:return_to => request.path) %> to compete.
      </p>
    <% end %>
  <% else %>
    <p class="suggestion">
      This competition ended on <%=dt @competition.ended_at(@date).in_time_zone %>.
    </p>
  <% end %>
</section>
<div class="clear"></div>
<% unless @competition.once? %>
  <div class="pagination">
    <%= @competition.previous?(@date) ? link_to('&laquo; Previous'.html_safe, date_puzzle_competition_path(@puzzle, @competition, d(@competition.previous_date(@date)))) : '<span class="disabled">&laquo; Previous</span>'.html_safe %> &middot;
    <%= link_to 'Current', puzzle_competition_path(@puzzle, @competition) %> &middot;
    <%= @competition.next?(@date) ? link_to('Next &raquo;'.html_safe, date_puzzle_competition_path(@puzzle, @competition, d(@competition.next_date(@date)))) : '<span class="disabled">Next &raquo;</span>'.html_safe %>
  </div>
<% end %>