<%= render "layouts/admin" if can? :edit, @competition %>

<%= render 'tabs' %>

<section id="competition">
  <div class="<%= @competition.repeat %>">
    <small><%= @competition.repeat.titleize %></small>
    <h2><%=h @competition.name %></h2>
    <div class="text description">
      <%=m @competition.description %>
    </div>
  </div>
  <% if @results.empty? %>
    <p class="challenge">
      Be the first to compete!
    </p>
  <% else %>
    <table id="results">
      <%= render :partial => "result", :collection => @results %>
    </table>
  <% end %>
  <section id="shouts">
    <%= render :partial => "shouts/shouts" %>
    <%= render :partial => "shouts/form" %>
  </section>
</section>
<section id="average">
<%= semantic_form_for @competition, :url => compete_puzzle_competition_path(@puzzle, @competition), :method => :post do |form| %>
    <%= form.inputs do %>
      <% @scrambles.each_with_index do |scramble, n| %>
        <li>
          <label class="label" for="average_single_human_time_<%= n %>">Solve <%= n + 1 %><abbr title="required">*</abbr></label>
          <input id="average_single_human_time_<%= n %>" name="average[singles_attributes][][human_time]" step="any" type="text">
        </li>
        <li>
          <input id="average_single_penalty" name="average[singles_attributes][][penalty]" step="any" type="hidden">
        </li>
        <input id="average_single_scramble" name="average[singles_attributes][][scramble]" step="any" type="hidden" value="<%= scramble %>">
      <% end %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button "Submit Average" %>
    <% end %>
  <% end %>
</section>
<div class="clear"></div>
<% unless @competition.once? %>
  <div class="pagination">
    <%= @competition.previous?(@date) ? link_to('&laquo; Previous'.html_safe, date_puzzle_competition_path(@puzzle, @competition, d(@competition.previous_date(@date)))) : '<span class="disabled">&laquo; Previous</span>'.html_safe %> &middot;
    <%= link_to 'Current', puzzle_competition_path(@puzzle, @competition) %> &middot;
    <%= @competition.next?(@date) ? link_to('Next &raquo;'.html_safe, date_puzzle_competition_path(@puzzle, @competition, d(@competition.next_date(@date)))) : '<span class="disabled">Next &raquo;</span>'.html_safe %>
  </div>
<% end %>