<%= render "layouts/admin" if can? :edit, @competition %>

<%= render 'tabs' %>

<section id="competition">
  <div class="<%= @competition.repeat %>">
    <small><%= @competition.repeat.titleize %></small>
    <h2><%=h @competition.name %></h2>
    <div class="text description">
      <%=m @competition.description %>
    </div>
  </div>
  <% if @results.empty? %>
    <p class="challenge">
      Be the first to compete!
    </p>
  <% else %>
    <table id="results">
      <%= render :partial => "result", :collection => @results %>
    </table>
  <% end %>
  <section id="shouts">
    <%= render :partial => "shouts/shouts" %>
    <%= render :partial => "shouts/form" %>
  </section>
</section>
<section id="average">
  <% unless @competition.old? @date %>
    <%= render "compete_form" %>
  <% else %>
    <p class="suggestion">
      This competition ended on <%=dt @competition.ended_at(@date).in_time_zone %>.
    </p>
  <% end %>
</section>
<div class="clear"></div>
<% unless @competition.once? %>
  <div class="pagination">
    <%= @competition.previous?(@date) ? link_to('&laquo; Previous'.html_safe, date_puzzle_competition_path(@puzzle, @competition, d(@competition.previous_date(@date)))) : '<span class="disabled">&laquo; Previous</span>'.html_safe %> &middot;
    <%= link_to 'Current', puzzle_competition_path(@puzzle, @competition) %> &middot;
    <%= @competition.next?(@date) ? link_to('Next &raquo;'.html_safe, date_puzzle_competition_path(@puzzle, @competition, d(@competition.next_date(@date)))) : '<span class="disabled">Next &raquo;</span>'.html_safe %>
  </div>
<% end %>