<%= render "layouts/admin" if can? :edit, @competition %>

<%= render 'tabs' %>

<section id="competition">
  <div class="<%= @competition.repeat %>">
    <small><%= @competition.repeat.titleize %></small>
    <h2><%=h @competition.name %></h2>
    <div class="text description">
      <%=m @competition.description %>
    </div>
  </div>
</section>