<%= form_for @user do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>
  <p class="bot">
    <%= form.label :bot_email %>
    <%= form.text_field :bot_email %>
  </p>
  <p>
    <%= form.label :wca, 'WCA ID' %>
    <%= form.text_field :wca %>
  </p>
  <p>
    <%= form.label :time_zone, 'Time Zone' %>
    <%= @user.time_zone = Time.zone.name if @user.new_record?; form.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
  </p>
  <p>
    <%= form.label :wants_emails, 'Receive Emails' %>
    <%= form.check_box :wants_emails %>
  </p>
<% if admin? %>
  <p>
    <%= form.label :sponsor %>
    <%= form.check_box :sponsor %>
  </p>
  <p>
    <%= form.label :ignored %>
    <%= form.check_box :ignored %>
  </p>
  <p>
    <%= form.label :role %>
    <%= form.select :role, User::ROLES.collect { |r| [r.titleize, r] } %>
  </p>
<% end %>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation, 'Confirmation' %>
    <%= form.password_field :password_confirmation %>
  </p>
  <p>
    <%= form.submit action_label('Register') %>
    <%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>