<tr class="match <%= cycle('odd', 'even', :name => 'match') %>">
  <th>
    <div class="puzzle" style="background-image: url(<%= match.puzzle.image.url(:small) %>)">
      <%= "<div class='kind' style='background-image: url(#{match.puzzle.kind.image.url(:small)})'></div>" unless
match.puzzle.kind.image_file_name.nil? %>
    </div>
  </th>
  <td><strong><%= link_to "vs. #{match.other(@user).name}", puzzle_match_path(match.puzzle, match) %></strong></td>
  <td><small><%=d match.created_at %></small></td>
  <td class="result"><strong><%= result_tag(rand(20)-10) %></strong></td>
</tr>