<tr class="record <%= cycle 'even', 'odd' %>">
  <th>
    <div class="puzzle pos<%= puzzle.css_position %>">
      <div class="kind pos<%= puzzle.kind.css_position %>"></div>
    </div>
  </th>
  <td>
    <cite>
      <%= puzzle.name %>
      <small>(<%=h puzzle.kind.name %>)</small>
    </cite>
  </td>
  <td><strong><%=ft records[1].time %></strong></td>
  <td><small><%=d records[1].set_at %></small></td>
  <td><strong><%= records[5].nil? ? 'none' : ft(records[5].time) %></strong></td>
  <td><small><%=d records[5].set_at unless records[5].nil? %></small></td>
</tr>