<tr class="record">
  <th>
    <div class="puzzle" style="background-image: url(<%= url_for_file_column record.puzzle, :image %>)">
      <%= "<div class='kind' style='background-image: url(#{url_for_file_column record.puzzle.kind, :image})'></div>" if record.puzzle.kind.image? %>
    </div>
    
  </th>
  <td><cite><%=h record.puzzle.name %> <small>(<%=h record.puzzle.kind.name %>)</small></cite></td>
  <td><strong><%=t record.time %></strong></td>
  <td><small><%=d record.created_at %></small></td>
</tr>