<p id="user_search">
  <% form_tag users_path, :method => 'get' do %>
	  <p>
		  <%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Search', :name => nil, :class => 'search_button' %>
		</p>
  <% end %>
</p>

<table id="ranking">
  <thead>
    <tr>
      <th>#</th>
      <th>cuber</th>
      <th>points</th>
      <th>stats</th>
      <th class="streak">streak</th>
      <th class="challenge">challenge</th>
    </tr>
  </thead>
  <tbody>
  <% for user in @users %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="rank<%= user.rank %>"><strong><%= user.rank %></strong></td>
      <td class="name"><strong><%= link_to user.name, user %></strong></td>
      <td class="points"><strong><%= user.points %></strong></td>
      <td class="stats">27 - 18</td>
      <td class="streak"><%= result_tag user.streak, 'strong' %></td>
      <td class="challenge"><%= link_to 'Challenge!', new_puzzle_user_match_path(:user_id => user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @users %>