<%= form_tag users_path, :method => 'get', :id => "users_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
  </p>
<% end %>
<ul id="users">
<% for user in @users %>
  <li style="font-size: <%= user.activity(@max_singles_count) * 1 + 1 %>em">
    <%= link_to user.name, user %>
    <small><%= user.singles_count %></small>
  </li>
<% end %>
</ul>