<div id="user">
  <div class="admin">
    <% if can? :edit, @user %>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    <% end %>
  </div>
  <% if can? :follow, @user %>
    <div class="follow">
      <%= button_to "Follow #{@user.name}", follow_user_path(@user) %>
    </div>
  <% end %>
  <% if can? :unfollow, @user %>
    <div class="follow">
      <%= button_to "Unfollow #{@user.name}", unfollow_user_path(@user) %>
    </div>
  <% end %>
  <h1>
    <%= render :partial => "identity", :locals => { :user => @user, :size => :large, :link => false } %>
    <% if @user.wasted_time >= 0 %>
      <small>
        has spent <%= distance_of_time_in_words @user.wasted_time %> solving puzzles.
      </small>
    <% end %>
  </h1>

  <% if @user.wca? %>
    <div id="wca">
      <a href="http://www.worldcubeassociation.org" class="logo">&nbsp;</a>
      <%= link_to "#{@user.name}'s World Cube Association Profile", wca(@user.wca) %>
    </div>
  <% elsif current_user? @user %>
    <div id="wca">
      <a href="http://www.worldcubeassociation.org" class="logo">&nbsp;</a>
      <%= link_to "Link your World Cube Association profile!", edit_user_path(@user) %>
    </div>
  <% end %>

  <% if can? :read, :activity %>
    <% cache [@user, "activity"] do %>
      <%= render :partial => "activity", :locals => { :activity => @activity.count } %>
    <% end %>
  <% end %>

  <% cache [@user, "records", current_user] do %>
    <%= render :partial => "records", :locals => { :records => @records.grouped_by_puzzle_and_amount } %>
  <% end %>

  <% if can? :read, Following %>
    <% if @user.followees.present? %>
      <h2>Following <small>(<%= @user.followees.size %>)</small></h2>
      <ul class="followees users">
        <%= render :partial => "follower", :collection => @user.followees %>
      </ul>
    <% end %>

    <% if @user.followers.present? %>
      <h2>Followers <small>(<%= @user.followers.size %>)</small></h2>
      <ul class="followers users">
        <%= render :partial => "follower", :collection => @user.followers %>
      </ul>
    <% end %>
  <% end %>
</div>
