<h1 id="user"><%= @user.name %></h1>
<div id="batches">
  <%= render(:partial => 'batch', :locals => { :link => wca(@user.wca), :id => 'wca' }) unless @user.wca.blank? %>
  <%= render(:partial => 'batch', :locals => { :link => twitter('timhabermaas'), :id => 'twitter' }) if false %>
  <%= render(:partial => 'batch', :locals => { :link => facebook(123124), :id => 'facebook' }) if false %>
  <div class="text"><small><%= @user.points %></small></div>
  <% if (not self?) or admin? %>
  <strong><%= link_to "Challenge #{@user.name}!", "new_puzzle_user_match_path(:user_id => @user.id)", :class => 'challenge' %></strong>
  <% end %>
</div>
<div class="clear"></div>

<table id="user_records">
  <thead>
    <tr>
      <th colspan="2"><strong>records</strong></th>
      <th colspan="2" class="tabs"><%= link_to_function 'Single', "$('a.single').addClass('checked');$('a.average').removeClass('checked');$('td.single').removeClass('disabled');$('td.average').addClass('disabled')", :class => 'single' %> <%= link_to_function 'Average', "$('a.average').addClass('checked'); $('a.single').removeClass('checked');$('td.average').removeClass('disabled');$('td.single').addClass('disabled')", :class => 'checked average'%></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'record', :collection => @records %>
  </tbody>
</table>

<table id="matches">
  <thead>
    <tr>
      <th colspan="4"><strong>matches</strong></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'match', :collection => @matches %>
  </tbody>
</table>
<div class="clear"></div>