<h1><%= @user.name %></h1>
<div id="batches">
</div>

<table id="user_records">
  <thead>
    <tr>
      <th colspan="2"><strong>records</strong></th>
      <th colspan="2" class="tabs"><%= link_to_function 'Single', "$('a.single').addClass('checked');$('a.average').removeClass('checked');$('td.single').removeClass('disabled');$('td.average').addClass('disabled')", :class => 'single' %> <%= link_to_function 'Average', "$('a.average').addClass('checked'); $('a.single').removeClass('checked');$('td.average').removeClass('disabled');$('td.single').addClass('disabled')", :class => 'checked average'%></th>
    </tr>
  </thead>
  <tbody>
    <%= partial 'record', :collection => @records %>
  </tbody>
</table>

<table id="matches">
  <thead>
    <tr>
      <th colspan="4"><strong>matches</strong></th>
    </tr>
  </thead>
  <tbody>
    <%= partial 'match', :collection => @matches %>
  </tbody>
</table>
<div class="clear"></div>
<%= link_to 'Challenge!', new_puzzle_user_match_path(:user_id => @user) %>