<div id="user">
  <div class="admin">
    <% if can? :edit, @user %>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    <% end %>
  </div>
  <h1>
    <%= @user.name %>
    <small>
      has spent <%= distance_of_time_in_words @user.wasted_time %> solving puzzles.
    </small>
  </h1>

  <% if @user.wca? %>
    <div id="wca">
      <a href="http://www.worldcubeassociation.org" class="logo">&nbsp;</a>
      <%= link_to "#{@user.name}'s World Cube Association Profile", wca(@user.wca) %>
    </div>
  <% elsif current_user? @user %>
    <div id="wca">
      <a href="http://www.worldcubeassociation.org" class="logo">&nbsp;</a>
      <a href="#">Link your World Cube Association profile!</a>
    </div>
  <% end %>

  <h3>Activity</h3>
  <% cache [@user, "activity"] do %>
    <%= render :partial => "activity", :locals => { :activity => @activity.count } %>
  <% end %>

  <h3>Records</h3>
  <% cache [@user, "records"] do %>
    <%= render :partial => "records", :locals => { :records => @records.grouped_by_puzzle_and_amount } %>
  <% end %>
</div>
