<h1><%= @user.name %></h1>

<%- if @records.empty? -%>
<p class="challenge">
<%- if @user == current_user -%>
  How fast do you solve the cube? <%= link_to 'Stop your times and get the record!', clocks_path %>
<%- else -%>
  <%= @user.name %> has no personal records yet. <%= link_to 'Do you?', clocks_path if logged_in? %>
<%- end -%>
</p>
<%- else -%>
<table id="records">
  <%= partial 'record', :collection => @records %>
</table>
<%- end -%>