<div id="timer" data-user-id="<%= current_user.id %>" data-name="<%= current_user.name %>" data-puzzle-id="<%= params[:puzzle_id] %>">
  <strong id="scramble"><%= @scramble %></strong>
  <time id="current_time"><%= Single.new.human_time %></time>
  <%= form_tag puzzle_times_path(params[:puzzle_id]), :remote => true do %>
    <p>
      <%= label_tag "single_human_time", "Time" %>
      <%= text_field_tag 'single[human_time]', "" %>
    </p>
    <p>
      <%= hidden_field_tag 'single[time]', "" %>
    </p>
    <p>
      <%= hidden_field_tag 'single[scramble]', @scramble %>
    </p>
    <p>
      <%= submit_tag 'Submit', :disable_with => 'Submit' %>
    </p>
  <% end %>
  <%= link_to 'Set times manually', '#', :id => 'toggle' %>
</div>

<script type="text/javascript" language="javascript">
  $('#timer #single_human_time').hide();
  $('#timer form input[type=submit]').hide();
  $("#timer #current_time").show();
</script>