<% counter = record_counter + 1 + (current_page_number - 1) * 50 %>
<tr class="record rank<%= counter %>" data-user-id="<%= record.user.id %>">
  <th><span><%= counter %></span></th>
  <td><strong><%= record.human_time %></strong></td>
  <td><cite><%= link_to record.user.name, record.user %></cite></td>
  <% if can? :block, User %>
    <td>
      <%= link_to "Block!", block_user_path(record.user), :remote => true, :method => :post, :confirm => "Are you sure?" %>
    </td>
  <% end %>
  <td><small><%=d record.set_at %></small></td>
  <td><blockquote><%= record.comment %></blockquote></td>
</tr>
