<tr class="record rank<%= record_counter + offset + 1 %>">
  <th><span><%= record_counter + offset + 1 %></span></th>
  <td><cite><%= link_to record.user.name, record.user %></cite></td>
  <td><strong><%=ft record.time %></strong></td>
  <td><small><%=d record.updated_at %></small></td>
</tr>