<tr class="record rank<%= record_counter %>">
  <th><span><%= record_counter %></span></th>
  <td><strong><%=t record.time %></strong></td>
  <td><cite><%= link_to record.user.name, record.user %></cite></td>
  <td><small><%=d record.created_at %></small></td>
  <td><blockquote><%=h record.comment %></blockquote></td>
</tr>