<p class="tabs">
  <%= link_to 'Single', puzzle_records_path(:type => 'single', :puzzle_id => params[:puzzle_id]), :class => ('checked' if type? :single) %>
  <%= link_to 'Average of 5', puzzle_records_path(:type => 'avg5', :puzzle_id => params[:puzzle_id]), :class => ('checked' if type? :avg5) %>
  <%= link_to 'Average of 12', puzzle_records_path(:type => 'avg12', :puzzle_id => params[:puzzle_id]), :class => ('checked' if type? :avg12) %>
</p>

<% if @records.empty? %>
<p class="challenge">
  Be the first: <%= link_to 'Get the record!', puzzle_times_path(@puzzle) %>
</p>
<% else %>
<table id="records">
  <tbody>
    <%= render :partial => 'record', :collection => @records, :locals => { :offset => @records.offset } %>
  </tbody>
</table>
<% end %>

<%= will_paginate @records, { :params => { :user_id => nil } } %>