<%- unless @puzzle.average_format == 'best_of' -%>
<p class="tabs">
  <%= link_to 'Single', puzzle_records_path(:type => 'single'), :class => ('checked' if type? :single) %>
  <%= link_to @puzzle.average_format.titleize, puzzle_records_path(:type => 'average'), :class => ('checked' if type? :average) %>
</p>
<%- end -%>

<%- if @records.empty? -%>
<p class="challenge">
  Be the first: <%= link_to 'Get the record!', puzzle_times_path %>
</p>
<%- else -%>
<table id="records">
  <thead>
    <th>#</th>
    <th>cuber</th>
    <th>time</th>
    <th>date</th>
    <th>comment</th>
  </thead>
  <tbody>
    <%= partial 'record', :collection => @records, :offset => @records.offset %>
  </tbody>
</table>
<%- end -%>

<%= will_paginate @records, { :params => { :user_id => nil } } %>