<p id="caption">
  <%= link_to 'Single', records_path(:puzzle => params[:puzzle], :type => 'single'), :class => ('checked' if type? :single) %>
  <%= link_to 'Average', records_path(:puzzle => params[:puzzle], :type => 'average'), :class => ('checked' if type? :average) %>
</p>

<ol id="records">
<%- for record in @puzzle.records.send params[:type] -%>
  <li>
    <h3><%= record.time %></h3>
    <cite><%= link_to record.user.name, record.user %></cite>
    <small><%=d record.created_at %></small>
  </li>
<%- end -%>
</ol>