<h1><%= link_to possessive(@user.name.titleize), @user %> <%= RecordPresenter.new(@record).record_type %> Record</h1>

<article id="record">
  <header>
    <h2><%= @record.human_time %></h2>
    <small><%=dt @record.set_at %></small>
    <div class="puzzle pos<%= @puzzle.css_position %>">
      <div class="kind pos<%= @puzzle.kind.css_position %>"><%= @puzzle.combined %></div>
    </div>
  </header>

  <table id="singles">
    <thead>
      <tr>
        <th>Solve</th>
        <th>Time</th>
        <th>Scramble</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @singles.each_with_index do |single, i| %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <td><%= i + 1 %></td>
          <td><strong class="time<%= ' dnf' if single.dnf? %>"><%= single.human_time %></strong></td>
          <td><small><%= single.scramble %><small></td>
          <td><%=m single.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

<% if can? :share, @record %>
<p class="suggestion">
  <%= link_to "Post on Facebook!", share_puzzle_record_path(@puzzle, @record), :method => :post %>
</p>
<% else %>
<p class="challenge">
  <%= link_to "Try to beat #{@user.name}!", puzzle_timers_path(@puzzle) %>
</p>
<% end %>