<p id="tabs">
  <%= link_to 'Single', records_path(:puzzle => params[:puzzle], :type => 'single'), :class => ('checked' if type? :single) %>
  <%= link_to 'Average', records_path(:puzzle => params[:puzzle], :type => 'average'), :class => ('checked' if type? :average) %>
</p>

<ol id="records">
<%- @puzzle.records.send(params[:type]).each_with_index do |record, index| -%>
  <li class="rank<%= index + 1 %>">
    <h3><%=t record.time %></h3>
    <cite><%= link_to record.user.name, record.user %></cite>
    <small><%=d record.created_at %></small>
  </li>
<%- end -%>
</ol>