<h2<%= raw ' class="dnf"' if average.dnf? %>><%=ft average.time %></h2>
<small><%= link_to('Destroy', [average.user, @puzzle, average], :method => :delete, :remote => true, :confirm => "Are you sure?") if (current_user.id == average.user_id or admin?) %></small>
<p><%=h average.comment %></p>
<ul id="singles">
<% for single in average.singles %>
  <li>
    <strong<%= raw ' class="dnf"' if single.dnf %>><%=ft single.time %></strong>
    <small><%= single.scramble %></small>
  </li>
<% end %>
</ul>