<small><%=h @puzzle.kind.name %> <%= link_to @user.name, @user %></small>
<h1><%=h @puzzle.name %></h1>

<table id="averages">
  <%=  partial 'average', :collection => @averages %>
</table>

<%= will_paginate @averages %>