<% cache cache_key(@user.cache_key) do %>
<% @averages = paginate @averages %>
<small><%=h @puzzle.kind.name %> <%= link_to @user.name, @user %></small>
<h1><%=h @puzzle.name %></h1>

<table id="averages">
  <thead>
    <th>Average</th>
    <th colspan="<%=@puzzle.attempt_count%>">Singles</th>
    <th>Date</th>
    <th></th>
  </thead>
  <tbody>
    <%= render @averages %>
  </tbody>
</table>

<%= will_paginate @averages %>
<% end %>