<section id="stats">
  <div class="current">
    <h4>Current</h4>
    Average of 5: <strong class="avg5"><%=ft nil %></strong> <small><a href="#">Details</a></small><br />
    Average of 12: <strong class="avg12"><%=ft nil %></strong> <small><a href="#">Details</a></small>
  </div>
  <div class="best">
    <h4>Best</h4>
    Single: <strong class="single"><%=ft @records[1].try(:time) %></strong> <small><%= link_to "Details", puzzle_record_path(@puzzle, @records[1]) %></small><br />
    Average of 5: <strong class="avg5"><%=ft @records[5].try(:time) %></strong> <small><%= link_to "Details", puzzle_record_path(@puzzle, @records[5]) %></small><br />
    Average of 12: <strong class="avg12"><%=ft @records[12].try(:time) %></strong> <small><%= link_to "Details", puzzle_record_path(@puzzle, @records[12]) %></small>
  </div>
</section>