<div id="porno">
  <section id="timer">
    <div class="scramble"><%= @scramble %></div>
    <div class="time"><%=ft 0 %></div>
    <%= semantic_form_for Single.new, :url => puzzle_timers_path(@puzzle), :remote => true do |form| %>
      <%= form.inputs do %>
        <%= form.input :human_time, :label => 'Time', :input_html => { :value => "", :autocomplete => "off" } %>
        <%= form.input :time, :as => :hidden %>
        <%= form.input :scramble, :as => :hidden, :value => @scramble %>
      <% end %>
      <%= form.buttons do %>
        <%= form.commit_button 'Submit' %>
      <% end %>
    <% end %>
    <%= link_to 'Set times manually', '#', :id => 'toggle' %>
  </section>
  <%= render "stats" %>
</div>

<div id="chart" data-user-id="<%= current_user.id %>" data-puzzle-id="<%= @puzzle.id %>" data-user-name="<%= current_user.name %>" data-url="<%= user_singles_url(current_user, :puzzle_id => @puzzle.id) %>">
</div>
<aside id="singles">
  <ul>
    <% @singles.each do |single| %>
      <li><%=ft single.time %></li>
    <% end %>
  </ul>
  <%= will_paginate @singles %>
</aside>

<script type="text/javascript" language="javascript">
  $("#new_single").hide();
  $("#timer .time").show();
</script>