<div id="porno">
  <section id="timer">
    <small class="scramble"><%= @scramble %></small>
    <div class="time"><%=ft 0 %></div>
    <%= semantic_form_for Single.new, :url => puzzle_timers_path(@puzzle), :remote => true do |form| %>
      <%= form.inputs do %>
        <%= form.input :human_time, :label => 'Time', :input_html => { :value => "", :autocomplete => "off" } %>
        <%= form.input :time, :as => :hidden %>
        <%= form.input :scramble, :as => :hidden, :value => @scramble %>
      <% end %>
      <%= form.buttons do %>
        <%= form.commit_button 'Submit' %>
      <% end %>
    <% end %>
    <%= link_to 'Set times manually', '#', :class => 'toggle' %>
  </section>
  <%= render "stats" %>
</div>

<div id="times">
  <div id="chart-container">
    <div id="chart" data-user-id="<%= current_user.id %>" data-user-name="<%= current_user.name %>" data-puzzle-id="<%= @puzzle.id %>" data-puzzle-name="<%= @puzzle.name %> <%= @puzzle.kind.short_name %>" data-url="<%= chart_puzzle_timers_path(@puzzle) %>"></div>
    <%= text_field_tag "user-tokens" %>
  </div>
  <aside id="singles">
    <ol>
      <%= render :partial => "single", :collection => @singles %>
    </ol>
    <section class="load-more">
      <%= link_to "Load more", more_puzzle_timers_path(@puzzle, :page => (params[:page] || 1).to_i + 1), :remote => true %>
    </section>
    <%= will_paginate @singles %>
  </aside>
</div>
