<li id="single-<%= single.id %>">
  <time class="time<%= raw(' dnf') if single.dnf? %>" data-time="<%= single.time %>"><%= single.human_time %></time>
  <div class="details">
    <span class="scramble"><%= single.scramble %></span>
    <time><%=dt single.created_at %></time>
    <div class="edit">
      <%= link_to "Delete", puzzle_time_path(@puzzle, single), :method => :delete, :remote => true %>
      <%= link_to "DNF", dnf_puzzle_time_path(@puzzle, single), :method => :put, :remote => true %>
    </div>
  </div>
</li>