<%= render :partial => 'shared/timer' %>
<script type="text/javascript" language="javascript">
  $('#timer #single_human_time').hide();
  $('#timer form input[type=submit]').hide();
  $("#timer #current_time").show();
</script>
<ul id="singles" data-id="<%= current_user.id %>" data-name="<%= current_user.name %>">
  <%= render :partial => 'single', :collection => @singles %>
  <%= will_paginate @singles %>
</ul>
<%= render :partial => 'statistics' %>
<div id="chart">
</div>
<div>
  <p>
    <%= text_field_tag :user_tokens, nil, :placeholder => 'Enter User Name...' %>
  </p>
</div>