<% content_for :head do %>
  <%= javascript_include_tag 'timer' %>
<% end %>

<div id="timer">
  <time data-time="0"><%= Single.new.human_time %></time>
  <%= form_tag puzzle_times_path(params[:puzzle_id]), :remote => true do %>
    <p>
      <%= text_field_tag 'single[human_time]', "" %>
    </p>
    <p>
      <%= hidden_field_tag 'single[time]', "" %>
    </p>
    <p>
      <%= submit_tag 'Submit' %>
    </p>
  <% end %>
  <%= link_to "Set times manually", "#", :id => "toggle" %>
</div>

<ul id="singles">
  <%= render :partial => 'single', :collection => @singles %>
</ul>