<%- unless @announcement.nil? -%>
<p class="announcement">
  <strong><%= @announcement.title %></strong>
  <span><%= m(@announcement.content)[3..-5] %></span>
  <%= link_to "#{pluralize @announcement.comments.size, 'Comment'} &raquo;", post_path(@announcement, :anchor => 'comments') %>
</p>
<%- end -%>
<p class="introduction">
  You want to keep track of your times, compare yourself with others and become the best?
  If so, Cubemania is the right place for you: <%= link_to 'Register', register_path %> now and get the record!
</p>
<ul id="features">
  <li class="odd">
    <%= link_to image_tag('screenshots/timer.jpg'), puzzle_times_path, :class => 'image' %><br/>
    <p>Stop your times and submit your averages.</p>
  </li>
  <li>
    <%= link_to image_tag('screenshots/puzzles.jpg'), puzzle_times_path, :class => 'image' %><br/>
    <p>Organize your times properly.</p>
  </li>
  <li class="odd">
    <%= link_to image_tag('screenshots/chart.jpg'), puzzle_times_path, :class => 'image' %>
    <p>Keep track of your progress and compare yourself with other cubers.</p>
  </li>
  <li>
    <%= link_to image_tag('screenshots/records.jpg'), puzzle_records_path, :class => 'image' %>
    <p>Get the record!</p>
  </li>
</ul>
<div class="clear"></div>