<div id="timer">
  <p id="scramble"></p>
  <div id="dynamic"<%= "style='display: none'" if params[:input_method] == 'manual' %>>
    <%= link_to_function 'GO!', 'toggleTimer()', :id => 'go' %>
    <p class="help">
      Press <strong>space</strong>&#47;<strong>s</strong> to start or stop the timer.
      There will be <%= @puzzle.countdown.zero? ? 'no countdown' : "a <strong>countdown</strong> of #{pluralize @puzzle.countdown, 'second'}" %>.
    </p>
    <%= link_to_function 'Set times manually?', 'toggleInputMethod()', :class => 'toggle' %>
  </div>
  <div id="manual"<%= "style='display: none'" unless params[:input_method] == 'manual' %>>
    <form onsubmit="insertTime(); return false">
      <div><%= text_field_tag 'type' %></div>
    </form>
    <%= javascript_tag "$('#type').focus()" if params[:input_method] == 'manual' %>
    <p class="help">
      Enter the time in <strong>milliseconds</strong> and press return to add it.
    </p>
    <%= link_to_function 'Changed your mind?', 'toggleInputMethod()', :class => 'toggle' %>
  </div>
  <table>
  <%- @puzzle.attempt_count.times do |index| -%>
    <tr>
      <th><%= index + 1 %>.</th>
      <td class="time">-</td>
      <td class="milliseconds"></td>
      <td>
        <div class="flags">
          <%= link_to_function 'DNF', "toggleDnf(#{index})", :class => 'dnf' %>
          <%= link_to_function '+2', "togglePlus2(#{index})", :class => 'plus2' %>
          <%= link_to_function 'X', "deleteLastTime()", :class => 'delete' %>
        </div>
      </td>
      <td class="scramble"><%= @puzzle.scramble %></td>
    </tr>
  <%- end -%>
  </table>
  <p id="average"><%= @puzzle.average_format == 'best_of' ? 'Best' : '&Oslash;' %> <span>0.00</span></p>
  <form>
    <p><%= text_area_tag 'comment', nil, :rows => 3 %></p>
    <p><%= button_to_function 'Submit Average', 'commitTimes()', :disabled => true %></p>
  </form>
</div>