<div id="timer">
  <p id="scramble"></p>
  <a id="go" href="#" onclick="toggleTimer(); return false">GO!</a>
  <p id="help">
    Press <strong>space</strong>/<strong>s</strong> to start or stop the timer.
    There will be <%= @puzzle.countdown.zero? ? 'no countdown' : "a <strong>countdown</strong> of #{pluralize @puzzle.countdown, 'second'}" %>.
  </p>
  <table>
  <%- @puzzle.attempt_count.times do |index| -%>
    <tr>
      <th><%= index + 1 %>.</th>
      <td class="time">-</td>
      <td class="milliseconds"></td>
      <td>
        <div class="flags">
          <a class="dnf" href="#" onclick="toggleDnf(<%= index %>); return false">DNF</a>
          <a class="plus2" href="#" onclick="togglePlus2(<%= index %>); return false">+2</a>
          <a class="delete" href="#" onclick="deleteLastTime(); return false">X</a>
        </div>
      </td>
      <td class="scramble"><%= @puzzle.scramble %></td>
    </tr>
  <%- end -%>
  </table>
  <p id="average"><%= @puzzle.average_format == 'best_of' ? 'Best' : '&Oslash;' %> <span>0.00</span></p>
  <form>
    <p><%= text_area_tag 'comment', nil, :rows => 3 %></p>
    <p><%= button_to_function 'Submit Average', 'commitTimes()', :disabled => true %></p>
  </form>
</div>