<thead>
  <tr>
    <th><strong><%= user.name %></strong></th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>points:</th>
    <td><%= user.points %></td>
  </tr>
  <tr class="wins">
    <th>wins:</th>
    <td><%= user.wins %></td>
  </tr>
  <tr class="losses">
    <th>losses:</th>
    <td><%= user.losses %></td>
  </tr>
  <tr class="record">
    <th>record:</th>
    <td><%= user.averages.record(params[:puzzle_id]) ? t(user.averages.record(params[:puzzle_id]).time) : "-" %></td>
  </tr>
</tbody>