<% user_average = @match.averages.for(@match.user); opponent_average = @match.averages.for(@match.opponent) %>
<table id="result">
  <thead>
    <th><small><%= @match.user.name %></small><%= result_tag @match.user_points %></th>
    <th></th>
    <th><small><%= @match.opponent.name %></small><%= result_tag @match.opponent_points %></th>
  </thead>
  <tbody>
  <% @match.scrambles.each_with_index do |scramble, i| %>
    <tr>
      <td><%=ft user_average.singles[i].time %></td>
      <td class="scramble"><small><%= scramble.scramble %></small></td>
      <td><%=ft opponent_average.singles[i].time %></td>
    </tr>
  <% end %>
    <tr>
      <td><strong><%=ft user_average.time %></strong></td>
      <td></td>
      <td><strong><%=ft opponent_average.time %></strong></td>
    </tr>
  </tbody>
</table>