<% user_average = @match.averages.for(@match.user); opponent_average = @match.averages.for(@match.opponent) %>
<small>(<%= @match.puzzle.name %> <%= @match.puzzle.kind.name %>)</small>
<h1><%= link_to @match.user.name, @match.user %> vs. <%= link_to @match.opponent.name, @match.opponent %></h1>
<table id="result">
  <thead>
    <th><small><%= @match.user.name %></small><%= result_tag @match.user_points %></th>
    <th></th>
    <th><small><%= @match.opponent.name %></small><%= result_tag @match.opponent_points %></th>
  </thead>
  <tbody>
  <% @match.scrambles.each_with_index do |scramble, i| %>
    <tr>
      <td><%=t user_average.singles[i].time %></td>
      <td class="scramble"><small><%= scramble.scramble %></small></td>
      <td><%=t opponent_average.singles[i].time %></td>
    </tr>
  <% end %>
    <tr>
      <td><%=t user_average.time %></td>
      <td></td>
      <td><%=t opponent_average.time %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Rematch!', new_puzzle_user_match_path(@puzzle, @match.other(current_user)) %>