<h1><%= link_to @match.user.name, @match.user %> vs. <%= link_to @match.opponent.name, @match.opponent %></h1>
<small>(<%= @match.puzzle.name %> <%= @match.puzzle.kind.name %>)</small>
<div id="result">
  <div id="user">
    <p><%= link_to @match.user.name, @match.user %> <%=t @match.averages.for(@match.user_id).time %></p>
    <%= result_tag @match.user_points %>
    <p class="comment"><%= @match.averages.for(@match.user_id).comment %></p>
  </div>

  <div id="opponent">
    <p><%= link_to @match.opponent.name, @match.opponent %> <%=t @match.averages.for(@match.opponent_id).time %></p>
    <%= result_tag @match.opponent_points %>
    <p class="comment"><%= @match.averages.for(@match.opponent_id).comment %></p>
  </div>
</div>