<!--
if current_user? show his matches, otherwise show recent matches
-->
<% if logged_in? %>
<h2>You've been challenged by</h2>
<ul>
  <%= render :partial => 'match', :collection => @challenged_matches %>
</ul>
<h2>You've challenged</h2>
<ul>
  <%= render :partial => 'match', :collection => @awaiting_matches %>
</ul>
<h2>Recent finished matches</h2>
<ul>
  <%= render :partial => 'match', :collection => @finished_matches %>
</ul>
<% else %>
<h2>Recent matches</h2>
<ul>
<% for match in @matches %>
  <li>
    <%= link_to "#{match.user.name} vs. #{match.opponent.name}", puzzle_match_path(match.puzzle, match) %>
    <small><%= match.puzzle.name %> <%= match.puzzle.kind.name %></small>
    <%= result_tag match.user_points %>
    <%= result_tag match.opponent_points %>
  </li>
<% end %>
</ul>
<% end %>