<h2>You compete with <%= link_to @user.name, user_path(@user) %></h2>
in <small><%= @puzzle.name %> <%= @puzzle.kind.name %></small>
<div class="clear"></div>
<table id="you">
  <%= render :partial => 'details', :locals => { :user => current_user } %>
</table>
<div id="prediction">
  <div id="max_win">
    max win<br />
    <strong><%=s @match.max_win(current_user) %></strong><br />
  </div>
  <div id="max_loss">
    <strong><%=s @match.max_loss(current_user) %></strong><br />
    max loss
  </div>
</div>
<table id="other">
  <%= render :partial => 'details', :locals => { :user => @user } %>
</table>
<div class="clear"></div>
<% form_for [@puzzle, @user, @match ||= Match.new], :html => { :id => 'match_form' } do |form| %>
  <%= form.submit 'Challenge!' %>
<% end %>