<small>(<%= @match.puzzle.name %> <%= @match.puzzle.kind.name %>)</small>
<h1>Match between <%= link_to @match.user.name, @match.user %> and <%= link_to @match.opponent.name, @match.opponent %></h1>

<% if @match.challenged? and @match.user == current_user %>
  <%= render :partial => 'waiting', :locals => { :match => @match } %>
<% else %>

<% if @match.finished? %>
  <%= render 'result' %>
<% else %>
  <%= render 'shared/timer' %>
  <%= render 'shared/timer_js', :url => puzzle_match_times_path(params[:puzzle_id], @match) %>
<% end %>
<% end %>