<% form_for @item do |form| %>
  <p>
		<%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :controller %>
    <%= form.text_field :controller %>
  </p>
  <p>
    <%= form.label :action %>
    <%= form.text_field :action %>
  </p>
  <p>
		<%= form.label :description %>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :position %>
    <%= form.text_field :position %>
  </p>
  <p>
    <%= form.submit action_label %>
  </p>
<% end %>