<article class="post">
  <h1><%= link_to_unless_current post.title.titleize, post %></h1>
  <section class="text">
    <%=m post.content %>
  </section>
  <div class="meta">
    <%=d post.created_at %> &middot;
    <cite><%= post.user.nil? ? 'Unknown' : link_to(post.user.name, post.user) %></cite>
    <% unless action? :show %>
    <%= link_to post_path(post, :anchor => 'comments') do %>
      <%= pluralize post.comments.size, 'Comment' %> &raquo;
    <% end %>
    <% end %>
  </div>
</article>