<%= div_for post do %>
  <h1><%= link_to_unless_current post.title.titleize, post %></h1>
  <div class="text">
    <%=m post.content %>
  </div>
  <div class="meta">
    <%=d post.created_at %> &middot;
    <cite><%= post.user.nil? ? 'Unknown' : link_to(post.user.name, post.user) %></cite>
    <%= "&middot; #{link_to "#{pluralize post.comments.size, 'Comment'} &raquo;", post_path(post, :anchor => 'comments')}" unless action? :show %>
  </div>
<% end %>