<nav class="main">
  <ul>
    <li class="selected"><%= link_to "Home" %></li>
    <li><%= link_to "Timer" %></li>
    <li><%= link_to "Competitions" %></li>
    <li><%= link_to "Users" %></li>
    <li><%= link_to "Records" %></li>
    <li class="session selected"><%= link_to "Logout" %></li>
    <li class="session"><%= link_to "Tim's Profile" %></li>
  </ul>
</nav>