<div id="subnavigation" style="display: none">
  <div id="puzzles">
    <ul style="width: <%= @kinds.size * 100 %>%">
    <% for kind in @kinds -%>
      <li style="width: <%= 100 / @kinds.size %>%">
        <ul>
        <% for puzzle in kind.puzzles -%>
          <li class="<%= "checked" if current_puzzle? puzzle, kind %>">
            <a href="<%= url_for :puzzle => puzzle.id, :kind => kind.id %>" title="<%= puzzle.name %>">
              <span class="image">
                <%= image_tag url_for_file_column(puzzle, :image), :title => puzzle.name, :class => 'puzzle' %>
                <%= image_tag url_for_file_column(kind, :image), :title => kind.name, :class => 'kind' unless kind.image.nil? %>
              </span>
              <span class="name"><%= puzzle.name %></span>
            </a>
          </li>
        <% end -%>
        </ul>
      </li>
    <% end -%>
    </ul>
  </div>
  <div id="kinds">
    <ul class="center">
    <% @kinds.each_with_index do |kind, index| -%>
      <li style="width: <%= 100 / @kinds.size %>%">
        <%= link_to_function kind.name, "checkKind(#{index})" %>
      </li>
      <%= javascript_tag "checkKind(#{index})" if current_kind? kind -%>
    <% end -%>
    </ul>
  </div>
</div>
<%= javascript_tag 'showSubNavigation()' %>