<nav id="subnavigation">
  <div id="puzzles">
    <ul style="width: <%= kinds.size * 100 %>%">
    <% for kind in kinds %>
      <li style="width: <%= 100 / kinds.size %>%">
        <ul>
        <% for puzzle in kind.puzzles %>
          <li class="<%= 'checked' if current_puzzle? puzzle %>">
            <a href="<%= subnavigation_path(puzzle) %>">
              <span class="puzzle <%= puzzle.css_class %>">
                <%= "<span class='kind' style='background-image: url(#{kind.image.url})'></span>".html_safe if kind.image? %>
              </span>
              <span class="name"><%= puzzle.name %></span>
            </a>
          </li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
  </div>
  <div id="kinds">
    <ul class="center">
    <% kinds.each_with_index do |kind, index| %>
      <li style="width: <%= 100 / kinds.size %>%">
        <%= link_to_function kind.name, "checkKind(#{index})" %>
        <%= javascript_tag "checkKind(#{index})" if current_kind? kind %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>