<div id="subnavigation">
  <div id="puzzles">
    <ul>
    <% for kind in @kinds -%>
      <li id="puzzles_<%= kind.id %>">
        <ul>
        <% for puzzle in kind.puzzles -%>
          <li class="<%= "checked" if current_puzzle? puzzle, kind %>">
            <a href="<%= url_for :puzzle => puzzle.name, :kind => kind.name %>" title="<%= puzzle.name %>">
              <span class="image"><%= image_tag url_for_file_column(puzzle, :image), :title => puzzle.name %></span>
              <span class="name"><%= puzzle.name %></span>
            </a>
          </li>
        <% end -%>
        </ul>
      </li>
    <% end -%>
    </ul>
  </div>
  <ul id="kinds">
  <% @kinds.each_with_index do |kind, index| -%>
    <li style="width: <%= 100 / @kinds.size %>%">
      <%= link_to_function kind.name, "checkKind(#{index})" %>
    </li>
    <%= javascript_tag "checkKind(#{index})" if current_kind? kind -%>
  <% end -%>
  </ul>
</div>