<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title><%= page_title %> &middot; Cubemania</title>
    <%= stylesheet_link_tag 'reset', 'site', 'header', 'navigation', 'subnavigation', 'notice', 'content', 'timer', 'footer', 'feedback', :cache => true %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <%= javascript_include_tag 'jquery', 'rails', 'application', 'timer', 'highcharts', 'chart' %>
    <%= yield :head %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="site">
      <%= render 'layouts/header' %>
      <%= render 'layouts/navigation' unless controller? :items %>
      <%= render 'layouts/subnavigation' if controller?(:times, :competitions, :records) or (controller?(:matches) and action?(:new)) %>
      <%= render 'layouts/notice' unless flash[:notice].nil? %>
      <%= render 'layouts/content' %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/tooltip' %>
      <%= render 'layouts/feedback' unless controller? :averages %>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-2163883-4");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>