<!DOCTYPE html>

<html class="no-js">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title><%= page_title %> &middot; Cubemania</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tag %>
    <script type="text/javascript">
      document.documentElement.className = "js";
    </script>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/nav" %>
    <%= render "layouts/subnavigation" if controller? :timers, :records, :competitions %>
    <%= render "layouts/notice" %>
    <section id="content">
      <div class="center">
        <%= yield %>
      </div>
    </section>
    <%= render "layouts/footer" %>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-2163883-4");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
