<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title><%= page_title %> &middot; Cubemania</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= csrf_meta_tag %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28649455-1']);
      _gaq.push(['_setDomainName', 'cubemania.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body data-using-backbone="<%= using_backbone? %>">
    <%= render "layouts/header" %>
    <%= render "layouts/nav" %>
    <%= render "layouts/subnavigation" %>
    <%= render "layouts/notice" %>
    <section id="content">
      <div class="center">
        <div id="backbone-container">
          <%= yield %>
        </div>
      </div>
    </section>
    <%= render "layouts/footer" %>
    <%= render "layouts/feedback" %>
  </body>
</html>
