<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title><%= page_title %> &middot; Cubemania</title>
    <%= stylesheet_link_tag 'reset', 'application', 'scaffold', :cache => true %>
  </head>
  <body>
    <div id="site">
      <div id="header">
        <h3><span>Cubemania</span></h3>
        <blockquote>
          <p>Save The World - Solve The Puzzle</p>
        </blockquote>
      </div>
    <% unless controller? :items -%>
      <ul id="navigation">
      <% for item in @navigation -%>
        <li class="<%= "checked" if current_item? item %>"><%= link_to item.name, item.url, :title => item.description %></li>
      <% end -%>
        <li><a href="#">Competitions</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Records</a></li>
        <li class="login">
          <%= link_to 'Login', login_path unless logged_in? %>
          <%= link_to 'Logout', logout_path if logged_in? %>
        </li>
      </ul>
    <% end -%>
      <div id="subnavigation">
        <ul id="puzzles">
        <% for kind in @kinds -%>
          <li>
            <ul>
            <% for puzzle in kind.puzzles -%>
              <li class="<%= "checked" if current_puzzle? puzzle %>">
                <a href="<%= url_for :puzzle => puzzle.name, :kind => params[:kind] %>" title="<%= puzzle.name %>">
                  <span class="image"><%= image_tag url_for_file_column(puzzle, :image), :title => puzzle.name %></span>
                  <span class="name"><%= puzzle.name %></span>
                </a>
              </li>
            <% end -%>
            </ul>
          </li>
        <% end -%>
        </ul>
        <ul id="kinds">
        <% for kind in @kinds -%>
          <li class="<%= "checked" if current_kind? kind %>">
            <%= link_to kind.name, :puzzle => params[:puzzle], :kind => kind.name %>
          </li>
        <% end -%>
        </ul>
      </div>
      <div id="content">
        <%= yield  %>
      </div>
      <div id="footer">
        <p>
          Founded by Tim Habermaas,
          <a href="http://www.patrick-stadler.de" title="Patrick Stadler's Website">Patrick Stadler</a> and
          <a href="http://www.simonwacker.com" title="Simon Wacker's Portfolio">Simon Wacker</a>
        </p>
      </div>
    </div>
  </body>
</html>