<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title><%= page_title %> &middot; Cubemania</title>
    <%= stylesheet_link_tag 'reset', 'site', 'header', 'navigation', 'subnavigation', 'notice', 'content', 'footer', 'feedback', :cache => true %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <%= javascript_include_tag 'jquery', 'base', 'slider', 'swfobject', 'application', :cache => true %>
    <%= yield :head %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  </head>
  <body>
    <div id="site">
      <%= partial 'layouts/header' %>
      <%= partial 'layouts/navigation' unless controller? :items %>
      <%= partial 'layouts/subnavigation' if controller? :clocks, :competitions, :records or controller? :matches and action?(:new, :index) %>
      <%= partial 'layouts/notice' unless flash[:notice].nil? %>
      <%= partial 'layouts/content' %>
      <%= partial 'layouts/footer' %>
      <%= partial 'layouts/tooltip' %>
      <%= partial 'layouts/feedback' if controller? :clocks, :competitions, :records, :users, :homes %>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-2163883-4");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>