<%= form_for @puzzle, :html => { :multipart => true } do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :kind %>
    <%= form.select :kind_id, Kind.all.collect{|k| [k.name, k.id]} %>
  </p>
  <p>
    <%= form.label :attempt_count %>
    <%= form.text_field :attempt_count %>
  </p>
  <p>
    <%= form.label :scramble_length %>
    <%= form.text_field :scramble_length %>
  </p>
  <p>
    <%= form.label :average_format, 'Format' %>
    <%= form.select :average_format, Puzzle::FORMATS.collect { |f| [f.titleize, f] } %>
  </p>
  <p>
    <%= form.label :countdown %>
    <%= form.text_field :countdown %>
  </p>
  <p>
    <%= form.label :css_class %>
    <%= form.text_field :css_class %>
  </p>
  <p>
    <%= form.label :css_position %>
    <%= form.text_field :css_position %>
  </p>
  <p>
    <%= form.submit action_label %>
  </p>
  <%= image_tag "puzzles.png" %>
<% end %>