<h1>Editing puzzle</h1>

<%= error_messages_for :puzzle %>

<% form_for(@puzzle) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @puzzle %> |
<%= link_to 'Back', puzzles_path %>
