<h1>Listing Puzzles (<%= @kind.name %>)</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
  </tr>
<%- for puzzle in @puzzles -%>
  <tr>
    <td><%=h puzzle.name %></td>
    <td><%= image_tag url_for_file_column(puzzle, :image) %></td>
    <td><%= link_to 'Edit', edit_kind_puzzle_path(@kind, puzzle) %></td>
    <td><%= link_to 'Destroy', kind_puzzle_path(@kind, puzzle), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<%- end -%>
</table>

<%= link_to 'New puzzle', new_kind_puzzle_path %>